<form [formGroup]="form" (ngSubmit)="OnSubmit()" >
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error>El campo nombre es requerido</mat-error>
    </mat-form-field>
    <h4>Seleccione el Mapa</h4>
    <div>
        <app-mapa (coordenadaSeleccionada)="recibirCoordenada($event)"
        [coordenadasIniciales]="coordenadaInicial"></app-mapa>
    </div>
    <div>
        <button mat-flat-button color="primary" type="button"  [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink='/cines'>
            Cancelar
        </a>
    </div>
</form>