<form [formGroup]="form" (submit)="onSubmit()" >
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error>El campo nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-input-img (archivoSeleccionado)="archivoSeleccionado($event)"
    [URLImagenActual]="modelo.foto">
    </app-input-img>
    <app-input-markdown (enviarMarkdown)="cambioMarkdown($event)" [placeHolderTextarea]="'Biografia'"></app-input-markdown>
    <button type="button" mat-flat-button color="primary" [disabled]="form.invalid">
        Guardar Cambios
    </button>
    <a mat-stroked-button routerlink="/actores">Cancelar</a>
</form>